body {
    background-color: #0c102c;
}

.fundo {
    background-image: url(../imagens/wepik-export-20231106202635DFrM1.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.3;

    min-height: 400px;
}

.texto-fundo {
    position: absolute;
    top: 40px;
    padding-left: 25px;
}

.texto-fundo h1,
p {
    width: 50%;
}

section h2 {
    color: aliceblue;
}

#sectionHeader {
    background-color: #0c102c;
    height: auto;
    /* min-height: 70vh; */
}

#row-top {
    margin-top: 50px;
}

.cards {
    background-color: #0c102c;

    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.card-text {
    min-height: 120px;
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
    /*
    text-align: justify; */
}

.card-img-top {
    height: 250px;
    width: auto;
    object-fit: cover;
}


footer {
    background-color: aliceblue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 20px;
    font-size: 12px;
    text-align: center;

}




@media screen and (max-width: 900px) {
    .texto-fundo h1 {
        font-size: 28px;
        width: 75%;

    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 28px;
    }

    .texto-fundo p {
        width: 75%;
    }

    .fundo {
        background-size: cover;
    }
}